__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
apikeys/*.key
apikeys/*.secret
ai_cache.db
instance/
.webassets-cache
.DS_Store
tests/