# Environments
.idea
.env
.vscode
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

apikeys/ai.key
apikeys/captcha-site.key
apikeys/captcha.secret
apikeys/geo-api.key
apikeys/maps-api.key
ai_cache.db
